<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itsnowball.educraftadmin">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoadingActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RecommendActivity" />
        <activity android:name=".InquireActivity" />
        <activity android:name=".NoticeActivity" />
        <activity android:name=".SwinfoActivity" />
        <activity android:name=".MemberinfoActivity" />
        <activity android:name=".AgreementActivity" />
        <activity android:name=".UsageagreeActivity" />
        <activity android:name=".MemberagreeActivity" />
        <activity
            android:name=".AppInfoPopupActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".AccountSettingActivity" />
        <activity android:name=".NoticeInfoActivity"></activity>
    </application>

</manifest>